<div class="media">
  <div class="media-left media-middle">
      <img class="media-object" src="<%= @car.image %>" alt="image">
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= @car.model %></h4>
    <div><%= @car.color%></div>
  </div>
</div>